body, html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: orange;
}

.flex-container {
	display: flex;
	width: 100%;
	height: 100%;
	flex-direction: column;
}

.children {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	align-content: space-between;
	height: 175px;
	background-color: orange;
}

.children > div {
	margin: 10px;
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	justify-content: center;
}

.children > div > pre {
	font: 12px Arial, sans-serif;
}

.children > div > img {
	width: 80px;
	border: 2px dashed orange;
	border-radius: 10px;
}

.child {
	flex-grow: 1;
	border: none;
	margin: 0;
	padding: 0;
}
