<!--
Copyright 2021-2022 Scott Feldman (sfeldma@gmail.com). All rights reserved.
Use of this source code is governed by a BSD-style license that can be
found in the LICENSE file. 
-->

<!DOCTYPE html>
<html lang="en">

	<head>
		<meta name="viewport"
		      content="width=device-width, initial-scale=1">

		<title>{{.Name}}</title>

		<link rel="stylesheet" type="text/css"
			href="/{{.AssetsDir}}/css/hub.css">

	</head>

	<body>
		
		<div class="flex-container">
			<div class="children" id="children"></div>
			<iframe class="child" id="child"></iframe>
		</div>

		<script src="/{{.AssetsDir}}/js/hub.js"></script>
		<script>Run({{.WebSocket}}, {{.Id}})</script>

	</body>

</html>
